{% extends "base_generic.html" %}

{% block content %}
  <div class="card" style="padding: 20px">
    <div class="card-body">
      <div class="container">
        <h1>{{ author.last_name }} {{ author.first_name }}
          {% if author.middle_name %}{{ author.middle_name }}{% endif %}
        </h1>
        <p>{{ author.date_of_birth }} - {% if author.date_of_death %}{{ author.date_of_death }}{% endif %}</p>
        <div>
          {% load group_tags %}
          {% if user|has_group:"Bibli-katal" %}
            <a class="btn btn-primary" href="{% url 'author-update' author.pk %}">Редактировать</a>
            <form method="post" action="{% url 'author-delete' author.pk %}" style="display: inline;">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger">Удалить</button>
            </form>

            <form method="post" action="{% url 'toggle-author-visibility' author.pk %}" style="display: inline;">
              {% csrf_token %}
              <button type="submit" class="btn btn-secondary">
                {% if author.visibility_status == 'о' %}Скрыть{% else %}Показать{% endif %}
              </button>
            </form>

            </div>
          {% endif %}
        <div class="row">
          <div class="col-md-3">
            <div style="margin-top: 30px">
              {% if author.image %}
                <img src="{{ author.image.url }}" class="img-thumbnail" alt="Author Image"
                     style="max-width: 200px; margin-bottom: 20px;">
              {% endif %}
            </div>
          </div>
          <div class="col-md-9">
            <div style="margin-left:20px;margin-top:20px;">
              <h4>Книги автора:</h4>
              <dl class="row" style="margin-top: 20px">
                {% for book in author.book_set.all %}
                  <dt class="col-md-3"
                      style="border-bottom: 1px solid #ddd; padding-bottom: 10px; margin-bottom: 10px;">
                    {% if book.image %}
                      <img src="{{ book.image.url }}" alt="{{ book.title }}" style="max-width: 100px;">
                    {% endif %}
                  </dt>
                  <dd class="col-md-9"
                      style="border-bottom: 1px solid #ddd; padding-bottom: 10px; margin-bottom: 10px;">
                    <a href="{% url 'book-detail' book.pk %}">{{ book }}</a> ({{ book.bookcopy_set.all.count }})
                    <p>{{ book.summary }}</p>
                  </dd>
                {% endfor %}
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}