{% extends "base_generic.html" %}

{% block content %}
  <div class="d-flex justify-content-center">
    <div class="card" style="width: 450px; padding: 20px">
      <div class="card-body">
        <div class="container">
          <h1>Редактирование автора</h1>

          <form method="post" enctype="multipart/form-data">  <!-- Добавлено enctype для загрузки файла -->
            {% csrf_token %}
            <div class="mb-3">
              <label for="{{ form.last_name.id_for_label }}">Фамилия</label>
              <input type="text" class="form-control form-control" id="{{ form.last_name.id_for_label }}"
                     name="{{ form.last_name.name }}" style="max-width: 300px;" value="{{ form.last_name.value }}">
            </div>
            <div class="mb-3">
              <label for="{{ form.first_name.id_for_label }}">Имя</label>
              <input type="text" class="form-control form-control" id="{{ form.first_name.id_for_label }}"
                     name="{{ form.first_name.name }}" style="max-width: 300px;" value="{{ form.first_name.value }}">
            </div>
            <div class="mb-3">
              <label for="{{ form.middle_name.id_for_label }}">Отчество</label>
              <input type="text" class="form-control form-control" id="{{ form.middle_name.id_for_label }}"
                     name="{{ form.middle_name.name }}" style="max-width: 300px;" value="{{ form.middle_name.value }}">
            </div>

            <div class="mb-3">
              <label for="{{ form.date_of_birth.id_for_label }}" class="form-label">Дата рождения</label>
              <input type="date" class="form-control form-control" id="{{ form.date_of_birth.id_for_label }}"
                     name="{{ form.date_of_birth.name }}" value="{{ form.instance.date_of_birth|date:'Y-m-d' }}"
                     style="max-width: 300px;">
            </div>

            <div class="mb-3">
              <label for="{{ form.date_of_death.id_for_label }}" class="form-label">Дата смерти</label>
              <input type="date" class="form-control form-control" id="{{ form.date_of_death.id_for_label }}"
                     name="{{ form.date_of_death.name }}" value="{{ form.instance.date_of_death|date:'Y-m-d' }}"
                     style="max-width: 300px;">
            </div>


            <div class="mb-3">
              <label for="{{ form.image.id_for_label }}">Изображение</label>
              <input type="file" class="form-control" id="{{ form.image.id_for_label }}" name="{{ form.image.name }}"
                     style="max-width: 300px;">
              {% if author.image %}
                <img src="{{ author.image.url }}" class="img-thumbnail" alt="Author Image"
                >
              {% endif %}
            </div>

            {% if user.is_authenticated %}
              <button type="submit" class="btn btn-primary" style="margin-top: 20px">Сохранить изменения</button>
            {% endif %}
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

