{% extends "base_generic.html" %}

{% block content %}
<div class="container">
    <h1 class="mb-4">Список авторов</h1>
    <form method="get">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Введите фамилию автора" name="search" value="{{ search_query }}">
            <button class="btn btn-primary" type="submit">Поиск</button>
        </div>
    </form>
        {% load group_tags %}
    {% if user|has_group:"Bibli" %}
    <a href="{% url 'add-author' %}" class="btn btn-primary mb-3">Добавить автора</a>
    {% endif %}
    {% if author_list %}
    <ul class="list-group">
        {% for author in author_list %}
        <li class="list-group-item">
            <a href="{{ author.get_absolute_url }}" class="text-decoration-none">
                {{ author.last_name }} {{ author.first_name }}
                {% if author.middle_name %}{{ author.middle_name }}{% endif %}
                ({{ author.date_of_birth }} - {% if author.date_of_death %}{{ author.date_of_death }}{% endif %})
            </a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>Авторов нет</p>
    {% endif %}
</div>
{% endblock %}
