<!-- edit_accept_act.html -->
{% extends "base_generic.html" %}

{% block content %}
  <div class="container">
    <div class="card" style="padding: 10px;">
      <div class="card-body">
      
        <form method="post" action="">
          {% csrf_token %}
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h1>Провести учёт акта о приёме</h1>
    <div class="form-group d-flex align-items-center">
      <label for="{{ form.worker.id_for_label }}" class="mr-2">Сотрудник:</label>
      <p class="form-control-static mb-0">
        {{ request.user.last_name }} {{ request.user.first_name|slice:":1" }}. {{ request.user.middle_name|slice:":1" }}.
      </p>
    </div>
            <!-- Скрытое поле для передачи даты создания акта -->
            <input type="hidden" name="{{ form.current_date.name }}" value="{{ form.current_date.value }}">
            <label for="{{ form.current_date.id_for_label }}" class="form-label ml-2">Дата создания
              акта: {{ form.current_date.value|date:'d.m.Y' }}</label>
          </div>

          <div class="form-group row mb-3">
            <label for="{{ form.number.id_for_label }}" class="col-md-2 col-form-label">Номер акта:</label>
            <div class="col-md-2">
              <input type="text" class="form-control {% if form.number.errors %}is-invalid{% endif %}"
                     id="{{ form.number.id_for_label }}" name="{{ form.number.name }}" style="max-width: 70px;"
                     value="{{ form.number.value }}">
              {% if form.number.errors %}
                <span class="invalid-feedback">{{ form.number.errors }}</span>
              {% endif %}
            </div>
            <label for="{{ form.Tip.id_for_label }}" class="col-md-2 col-form-label">Тип поступления:</label>
            <div class="col-md-2">
              <select class="form-control" id="{{ form.Tip.id_for_label }}" name="{{ form.Tip.name }}"
                      style="max-width: 200px;">
                {% for value, label in form.Tip.field.choices %}
                  <option value="{{ value }}" {% if form.Tip.value == value %}selected{% endif %}>{{ label }}</option>
                {% endfor %}
              </select>
              {% if form.Tip.errors %}
                <span class="invalid-feedback">{{ form.Tip.errors }}</span>
              {% endif %}
            </div>
            <label for="{{ form.source.id_for_label }}" class="col-md-1 col-form-label">Источник:</label>
            <div class="col-md-3">
              <select class="form-control {% if form.source.errors %}is-invalid{% endif %}"
                      id="{{ form.source.id_for_label }}" name="{{ form.source.name }}" style="max-width: 300px;">
                {% for value, label in form.source.field.choices %}
                  <option value="{{ value }}"
                          {% if form.source.value == value %}selected{% endif %}>{{ label }}</option>
                {% endfor %}
              </select>
              {% if form.source.errors %}
                <span class="invalid-feedback">{{ form.source.errors }}</span>
              {% endif %}
            </div>
          </div>


          <div class="d-flex justify-content-between align-items-center mb-3">
            <h2>Позиции акта:</h2>
            {#        <button type="button" onclick="addPosition()" class="btn btn-primary">Добавить позицию</button>#}
          </div>

          <div class="table-responsive border border-dark" style="height: 350px; overflow-y: auto;">
            <table class="table" id="positions_table">
              <thead>
              <tr>
                <th>№</th>
                <th>Экземпляр</th>
                <th>Количество</th>
                <th>Цена (руб.)</th>
                <th>Статус</th>
                <th>Действия</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              {% for position_accept_act in position_accept_acts %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ position_accept_act.exemplar }}</td>
                  <td><input type="text" name="size" class="form-control position-size"
                             value="{{ position_accept_act.size }}" style="max-width: 100px;"></td>
                  <td><input type="text" name="price" class="form-control position-price"
                             value="{{ position_accept_act.price }}" style="max-width: 100px;"></td>
                  <td>{{ position_accept_act.get_status_record_display }}</td>
                  <td>
                    <button type="button" onclick="removeRow(this)" class="btn btn-danger">Удалить</button>
                  </td>
                  <td>
                     {% if position_accept_act.status_record == 'н' %}
                    <a
                      href="{% url 'create_accounting' position_accept_act.pk %}?next={% url 'edit_accept_act' pk=accept_act.pk %}&size={{ position_accept_act.size }}"
                      class="btn btn-info">Провести учёт</a>
                      {% elif position_accept_act.status_record == 'у' %}
                    <a
                      href="{% url 'create_accounting' position_accept_act.pk %}?next={% url 'edit_accept_act' pk=accept_act.pk %}&size={{ position_accept_act.size }}"
                      class="btn btn-info">Просмотреть</a>
                      {% endif %}
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>

          <div class="d-flex justify-content-between align-items-center mb-3 mt-3">
            <button type="submit" class="btn btn-success">Провести учёт</button>
            <div class="form-group d-flex align-items-center">
              <div class="form-group">
                <label for="total-sum">Сумма(руб.):</label>
                <input type="text" class="form-control" id="total-sum" readonly>

                {% if form.summa.errors %}
                  <span class="invalid-feedback">{{ form.summa.errors }}</span>
                {% endif %}
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script>
    var rowNumber = {% if position_accept_acts %}{{ position_accept_acts|length }}{% else %}1{% endif %} + 1;

    function addPosition() {
      var newRow = $('<tr>' +
        '<td>' + rowNumber + '</td>' +
        '<td><input type="text" name="exemplar" class="form-control"></td>' +
        '<td><input type="text" name="size" class="form-control position-size"></td>' +
        '<td><input type="text" name="price" class="form-control position-price"></td>' +
        '<td><input type="text" name="status" class="form-control"></td>' +
        '<td><button type="button" onclick="removeRow(this)" class="btn btn-danger">Удалить</button></td>' +
        '</tr>');
      $('#positions_table tbody').append(newRow);
      rowNumber++;
    }

    function removeRow(button) {
      $(button).closest('tr').remove();
    }
  </script>
  <script>
    $(document).ready(function () {
      updateTotalSum();

      $('#positions_table').on('input', '.position-price, .position-size', function () {
        updateTotalSum();
      });

      function updateTotalSum() {
        var totalSum = 0;
        $('.position-price').each(function () {
          var price = parseFloat($(this).val()) || 0;
          var size = parseFloat($(this).closest('tr').find('.position-size').val()) || 0;
          totalSum += price * size;
        });

        $('#total-sum').val(totalSum.toFixed(2));
      }
    });
  </script>
  </div>
{% endblock %}
