{% extends "base_generic.html" %}

{% block content %}
  <div class="container">
      {% if error_message %}
        <div class="alert alert-danger" role="alert">
          {{ error_message }}
        </div>
      {% endif %}
      <div class="d-flex justify-content-center">
        <div class="card" style="width: 500px;">
          <div class="card-body">
            <form method="post">
              <h1 class="text-center mb-4">Добавление нового обращения</h1>
              {% csrf_token %}
              <div class="mb-3">
                <label for="{{ form.title.id_for_label }}" class="form-label">Название:</label>
                <input type="text" class="form-control {% if form.title.errors %}is-invalid{% endif %}"
                       id="{{ form.title.id_for_label }}" name="{{ form.title.name }}"
                       value="{% if form.title.value %}{{ form.title.value }}{% endif %}" placeholder="Введите название"
                       style="max-width: 450px;" autocomplete="off">
                {% if form.title.errors %}
                  <span class="invalid-feedback">{{ form.title.errors }}</span>
                {% endif %}
              </div>
              <div class="mb-3">
                <label for="{{ form.note.id_for_label }}" class="form-label">Примечание:</label>
                <textarea class="form-control {% if form.note.errors %}is-invalid{% endif %}"
                          id="{{ form.note.id_for_label }}" name="{{ form.note.name }}"
                          placeholder="Введите примечание" style="max-width: 450px;"
                          autocomplete="off" rows="5">{% if form.note.value %}
                  {{ form.note.value }}{% endif %}</textarea>
                {% if form.note.errors %}
                  <span class="invalid-feedback">{{ form.note.errors }}</span>
                {% endif %}
              </div>

              <div class="mb-3" style="display: none;">
                <label for="id_bookinstance" class="form-label">Аренда</label>
                {{ form.bookinstance }}
              </div>
              <div class="mb-3" style="display: none;">
                <label for="id_worker" class="form-label">Сотрудник</label>
                {{ form.worker }}
              </div>
              <button type="submit" class="btn btn-primary">Сохранить</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
