{% extends "base_generic.html" %}

{% block content %}
  <div class="container">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h1>Все выдачи</h1>
      <a class="btn btn-success my-3" href="{% url 'add-bookinstance' %}">Выдать книгу</a>
    </div>
    <form method="GET" action="{% url 'all-borrowed' %}">
      <div class="input-group mb-3">
        <label class="input-group-text" for="status">Выберите статус:</label>
        <select name="status" id="status" class="form-select">
          <option value="">Все статусы</option>
          <option value="р" {% if request.GET.status == 'р' %}selected{% endif %}>Выдано</option>
          <option value="п" {% if request.GET.status == 'п' %}selected{% endif %}>Погашено</option>
          <option value="з" {% if request.GET.status == 'з' %}selected{% endif %}>Зарезервировано</option>
        </select>
        <button type="submit" class="btn btn-primary">Применить фильтр</button>
      </div>
    </form>
    {% if bookinstance_list %}
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
              <tr>
                <th>Фамилия</th>
                <th>Логин</th>
                <th>Название книги</th>
                <th>Штамп</th>
                <th>Дата начала</th>
                <th>Дата окончания</th>
                <th>Дата продления</th>
                <th>Статус</th>
                <th>Действия</th>
              </tr>
              </thead>
              <tbody>
              {% for bookinst in bookinstance_list %}
                <tr class="{% if bookinst.is_overdue %}text-danger{% endif %}">
                  <td>{{ bookinst.borrower.last_name }} {{ bookinst.borrower.first_name|slice:":1" }}. {{ bookinst.borrower.middle_name|slice:":1" }}.</td>
                  <td>{{ bookinst.borrower.username }}</td>
                  <td>
                    <a href="{% url 'book-detail' bookinst.book.pk %}">{{ bookinst.book.title }}</a>
                  </td>
                  <td>{{ bookinst.loan.imprint }}</td>
                  <td>{{ bookinst.current_date|date:"Y-m-d" }}</td>
                  <td>{{ bookinst.due_back|date:"Y-m-d" }}</td>
                  <td>{{ bookinst.renewal_date|date:"Y-m-d" }}</td>
                  <td>{{ bookinst.get_status_display }}</td>
                  <td>
                    {% if bookinst.status == 'р' %}
                      <a class="btn btn-success btn-sm" href="{% url 'renew-book-librarian' bookinst.id %}">Продлить</a>
                      <a class="btn btn-warning btn-sm" href="{% url 'return-book' bookinst.id %}">Возврат</a>
                    {% elif bookinst.status == 'з' %}
                      <a class="btn btn-info btn-sm" href="{% url 'edit-bookinstance' bookinst.id %}">Оформить
                        выдачу</a>
                    {% else %}
                      {% if bookinst.status == 'д' %}
                        <a class="btn btn-warning btn-sm" href="{% url 'return-book' bookinst.id %}">Возврат</a>
                      {% endif %}
                    {% endif %}
                    {% if bookinst.status == 'п' %}
                      <span class="text-muted">Нет доступных действий</span>
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    {% else %}
      <p>Нет выданных книг</p>
    {% endif %}
  </div>
{% endblock %}
