{% extends "base_generic.html" %}

{% block content %}
<div class="container">
    <h1>История обращений</h1>
<a class="btn btn-danger btn-sm" href="{% url 'add-appeal' bookinst.id %}">И</a>
    <div class="row">
        <div class="col">
            <ul class="list-group">
                {% for history in history_list %}
                <li class="list-group-item">{{ history.title }} - {{ history.note }}</li>
                {% empty %}
                <li class="list-group-item">Нет истории обращений</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}