{% extends "base_generic.html" %}

{% block content %}

  <form method="get">
    <div class="input-group mb-3">
      <label class="input-group-text" for="date_type">Выбрать по:</label>
      <select name="date_type" id="date_type" class="form-select">
        <option value="current_date" {% if date_type == 'current_date' %}selected{% endif %}>Дата начала</option>
        <option value="due_back" {% if date_type == 'due_back' %}selected{% endif %}>Дата окончания</option>
      </select>

      <input type="date" name="start_date" id="start_date" class="form-control" placeholder="Начальная дата"
             value="{{ request.GET.start_date|default_if_none:'' }}">
      <input type="date" name="end_date" id="end_date" class="form-control" placeholder="Конечная дата"
             value="{{ request.GET.end_date|default_if_none:'' }}">

      <button type="submit" class="btn btn-primary">Фильтр</button>
    </div>
  </form>
  
  
  <div class="d-flex justify-content-center">
    <div class="card" style="width: 600px;">
      <div class="card-body">
        <h1>Отчет по взятым книгам</h1>
        <canvas id="myChart" width="400" height="400"></canvas>

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>
          var ctx = document.getElementById('myChart').getContext('2d');
          var data = {
            labels: [{% for item in book_popularity %}"{{ item.book__title }}"{% if not forloop.last %}, {% endif %}{% endfor %}],
            datasets: [{
              label: 'Количество взятий',
              data: [{% for item in book_popularity %}{{ item.count }}{% if not forloop.last %}, {% endif %}{% endfor %}],
              backgroundColor: 'rgba(54, 162, 235, 0.2)',
              borderColor: 'rgba(54, 162, 235, 1)',
              borderWidth: 1
            }]
          };
          var myChart = new Chart(ctx, {
            type: 'bar',
            data: data,
            options: {
              responsive: true,
              scales: {
                y: {
                  beginAtZero: true
                }
              },
              plugins: {
                legend: {
                  display: false
                },
                tooltip: {
                  callbacks: {
                    label: function (tooltipItem) {
                      return tooltipItem.label + ': ' + tooltipItem.raw;
                    }
                  }
                }
              }
            }
          });
        </script>
      </div>
    </div>
  </div>
{% endblock %}
