<!-- detail_event.html -->
{% extends "base_generic.html" %}

{% block content %}
  <h1>Детальная информация о мероприятии:</h1>
  <div>
    <p>Наименование: {{ event.event_name }}</p>
    <p>Мест: {{ event.number_of_participants }}</p>
    <p>Дата начала: {{ event.date_start }}</p>
    <p>Дата окончания: {{ event.date_end }}</p>
    <p>Описание: {{ event.description }}</p>
    <form action="{% url 'register_to_event' event_id=event.id %}" method="post" style="display: inline;">
      {% csrf_token %}
      <button type="submit" class="btn btn-success">Зарегистрироваться</button>
    </form>
    <!-- Здесь можно добавить другие поля для детальной информации об ивенте -->
  </div>
{% endblock %}
