{% extends "base_generic.html" %}

{% block content %}

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-9">
        <div class="card" style="width: 900px; padding: 30px;">
          <div class="card-body">
            <h1>Редактировать мероприятие</h1>
            <form method="post" enctype="multipart/form-data" class="mt-4">
              {% csrf_token %}
              <div class="row mb-3">
                <div class="col-md-6">
                  <label for="{{ form.event_name.id_for_label }}" class="form-label">Наименование мероприятия</label>
                  <input type="text" class="form-control {% if form.event_name.errors %}is-invalid{% endif %}"
                         id="{{ form.event_name.id_for_label }}" name="{{ form.event_name.name }}"
                         value="{{ form.event_name.value }}" style="max-width: 400px;">
                  {% if form.event_name.errors %}
                    <span class="invalid-feedback">{{ form.event_name.errors }}</span>
                  {% endif %}
                </div>
                <div class="col-md-6">
                  <label for="{{ form.date_start.id_for_label }}" class="form-label">Дата начала проведения</label>
                  <input type="date" class="form-control {% if form.date_start.errors %}is-invalid{% endif %}"
                         style="max-width: 250px;" id="{{ form.date_start.id_for_label }}"
                         name="{{ form.date_start.name }}"
                         value="{% if form.initial.date_start %}{{ form.initial.date_start|date:"Y-m-d" }}{% endif %}">
                  {% if form.date_start.errors %}
                    <span class="invalid-feedback">{{ form.date_start.errors }}</span>
                  {% endif %}
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-md-6">
                  <label for="{{ form.typeroom.id_for_label }}" class="form-label">Тип мероприятия</label>
                  <select class="form-select {% if form.typeroom.errors %}is-invalid{% endif %}"
                          id="{{ form.typeroom.id_for_label }}" name="{{ form.typeroom.name }}"
                          style="max-width: 400px;">
                    <option value="" {% if not form.typeroom.value %}selected{% endif %}>Выберите
                    </option>
                    {% for typeroom in form.typeroom.field.queryset %}
                      <option value="{{ typeroom.id }}"
                              {% if form.typeroom.value == typeroom.id %}selected{% endif %}>{{ typeroom.name }}</option>
                    {% endfor %}
                  </select>
                  {% if form.typeroom.errors %}
                    <span class="invalid-feedback">{{ form.typeroom.errors }}</span>
                  {% endif %}
                </div>
                <div class="col-md-6">
                  <label for="{{ form.date_end.id_for_label }}" class="form-label">Дата конца проведения</label>
                  <input type="date" class="form-control {% if form.date_end.errors %}is-invalid{% endif %}"
                         id="{{ form.date_end.id_for_label }}" name="{{ form.date_end.name }}"
                         value="{% if form.initial.date_end %}{{ form.initial.date_end|date:"Y-m-d" }}{% endif %}"
                         style="max-width: 250px;">
                  {% if form.date_end.errors %}
                    <span class="invalid-feedback">{{ form.date_end.errors }}</span>
                  {% endif %}
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-md-6">
                  <label for="{{ form.fio.id_for_label }}" class="form-label">ФИО Организатора</label>
                  <input type="text" class="form-control {% if form.fio.errors %}is-invalid{% endif %}"
                         id="{{ form.fio.id_for_label }}" name="{{ form.fio.name }}"
                         value="{{ form.fio.value }}" style="max-width: 400px;">
                  {% if form.fio.errors %}
                    <span class="invalid-feedback">{{ form.fio.errors }}</span>
                  {% endif %}
                </div>
                <div class="col-md-6">
                  <label for="{{ form.date_end2.id_for_label }}" class="form-label">Дата фактического окончания</label>
                  <input type="date" class="form-control {% if form.date_end2.errors %}is-invalid{% endif %}"
                         id="{{ form.date_end2.id_for_label }}" name="{{ form.date_end2.name }}"
                         value="{% if form.initial.date_end2 %}{{ form.initial.date_end2|date:"Y-m-d" }}{% endif %}"
                         style="max-width: 250px;">
                  {% if form.date_end2.errors %}
                    <span class="invalid-feedback">{{ form.date_end2.errors }}</span>
                  {% endif %}
                </div>
              </div>

              <div class="row mb-3">
                <div class="row mb-3">
                  <div class="col-md-3">
                    <label for="{{ form.number_of_participants.id_for_label }}" class="form-label">Количество
                      участников</label>
                    <input type="text"
                           class="form-control {% if form.number_of_participants.errors %}is-invalid{% endif %}"
                           id="{{ form.number_of_participants.id_for_label }}"
                           name="{{ form.number_of_participants.name }}"
                           value="{{ form.number_of_participants.value }}" style="max-width: 180px;">
                    {% if form.number_of_participants.errors %}
                      <span class="invalid-feedback">{{ form.number_of_participants.errors }}</span>
                    {% endif %}
                  </div>
                  <div class="col-md-6">
                    <label for="{{ form.room.id_for_label }}" class="form-label">Помещение</label>
                    <select class="form-select {% if form.room.errors %}is-invalid{% endif %}"
                            id="{{ form.room.id_for_label }}" name="{{ form.room.name }}" style="max-width: 190px;">
                      <option value="" {% if not form.room.value %}selected{% endif %}>Выберите помещение:</option>
                      {% for room in form.room.field.queryset %}
                        <option value="{{ room.id }}"
                                {% if form.room.value == room.id %}selected{% endif %}>{{ room }}</option>
                      {% endfor %}
                    </select>
                    {% if form.room.errors %}
                      <span class="invalid-feedback">{{ form.room.errors }}</span>
                    {% endif %}
                  </div>
                </div>
                <div class="col-md-6">
                  <label for="{{ form.worker.id_for_label }}" class="form-label">Ответственный сотрудник</label>
                  <select class="form-select {% if form.worker.errors %}is-invalid{% endif %}"
                          id="{{ form.worker.id_for_label }}" name="{{ form.worker.name }}" style="max-width: 300px;">
                    <option value="" {% if not form.worker.value %}selected{% endif %}>Выберите сотрудника:</option>
                    {% for worker in form.worker.field.queryset %}
                      <option value="{{ worker.id }}"
                              {% if form.worker.value == worker.id %}selected{% endif %}>{{ worker }}</option>
                    {% endfor %}
                  </select>
                  {% if form.worker.errors %}
                    <span class="invalid-feedback">{{ form.worker.errors }}</span>
                  {% endif %}
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-md-6">
                  <label for="{{ form.image.id_for_label }}" class="form-label">Изображение</label>
                  <input type="file" class="form-control" id="{{ form.image.id_for_label }}"
                         name="{{ form.image.name }}"
                         style="max-width: 400px;">
                </div>
              </div>

              <div class="mb-3">
                <label for="{{ form.description.id_for_label }}" class="form-label">Описание</label>
                <textarea class="form-control {% if form.description.errors %}is-invalid{% endif %}"
                          id="{{ form.description.id_for_label }}" name="{{ form.description.name }}"
                          style="max-width: 800px;"
                          rows="5">{% if form.description.value %}{{ form.description.value }}{% endif %}</textarea>
                {% if form.description.errors %}
                  <span class="invalid-feedback">{{ form.description.errors }}</span>
                {% endif %}
              </div>

              <button type="submit" class="btn btn-primary">Сохранить</button>
              {% if form.non_field_errors %}
                <div class="alert alert-danger mt-3" role="alert">
                  {{ form.non_field_errors }}
                </div>
              {% endif %}
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
