{% extends "base_generic.html" %}

{% block content %}
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1>Список мероприятий</h1>
    <a href="{% url 'create_event' %}" class="btn btn-success mb-3">Создать мероприятие</a>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>№</th>
            <th>Наименование</th>
            <th>Мест</th>
            <th>Начало</th>
            <th>Окончание</th>
            {#            <th>Дата фактического окончания</th>#}
            <th>Ответственный</th>
            <th>Кабинет</th>
            <th>Тип</th>
            <th>Действия</th>
          </tr>
          </thead>
          <tbody>
          {% for event in events %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ event.event_name }}</td>
              <td>{{ event.number_of_participants }}</td>
              <td>{{ event.date_start |date:"d.m.Y" }}</td>
              <td>{{ event.date_end |date:"d.m.Y" }}</td>
              {#              <td>{{ event.date_end2 }}</td>#}
              <td>{{ event.worker.last_name }} {{ event.worker.first_name|slice:":1" }}. {{ event.worker.middle_name|slice:":1" }}</td>
              <td>{{ event.room }}</td>
              <td>{{ event.typeroom }}</td>
              <td>
                <a href="{% url 'participants_list' event_id=event.id %}" class="btn btn-sm btn-primary">Участники</a>
                <a href="{% url 'edit_event' event_id=event.id %}" class="btn btn-sm btn-warning">Редактировать</a>
                <form action="{% url 'delete_event' event_id=event.id %}" method="post" style="display: inline;">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-sm btn-danger" onclick="return confirm('Вы уверены?')">Удалить
                  </button>
                </form>
                {#                {% if event.date_end < now %}#}
                <a href="{% url 'create_news' event_id=event.id %}" class="btn btn-sm btn-success">Создать новость</a>
                {#                {% endif %}#}
                <a href="{% url 'review_list' event_id=event.id %}"
                   class="btn btn-sm btn-info">Отзывы: {{ event.num_unpublished_reviews }}
                  (новые: {{ event.num_unpublished_reviews }})</a>
                <a href="{% url 'event_report' event_id=event.id %}" class="btn btn-sm btn-secondary">Отчет</a>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
