{% extends "base_generic.html" %}

{% block content %}
  <div class="card">
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h1>Отчет по мероприятиям</h1>
        <button id="printButton" class="btn btn-secondary">Печать</button>
      </div>
      <form method="get" style="margin-top: 40px">
        <div class="input-group mb-3">
          <label class="input-group-text" for="date_type">Выбрать по:</label>
          <select name="date_type" id="date_type" class="form-select">
            <option value="date_start" {% if date_type == 'date_start' %}selected{% endif %}>Дата и время начала
              проведения
            </option>
            <option value="date_end" {% if date_type == 'date_end' %}selected{% endif %}>Дата и время окончания
              проведения
            </option>
            <option value="date_end2" {% if date_type == 'date_end2' %}selected{% endif %}>Дата фактического окончания
            </option>
          </select>

          <input type="date" name="start_date" id="start_date" class="form-control" placeholder="Начальная дата"
                 value="{{ start_date }}">
          <input type="date" name="end_date" id="end_date" class="form-control" placeholder="Конечная дата"
                 value="{{ end_date }}">

          <button type="submit" class="btn btn-primary">Применить</button>
        </div>
      </form>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>№</th>
            <th>ФИО организатора</th>
            <th>Наименование мероприятия</th>
            <th>Количество участников</th>
            <th>Количество зарегистрированных участников</th>
            <th>Количество отмененных регистраций</th>
            <th>Количество отзывов</th>
            <th>Дата и время начала проведения</th>
            <th>Дата и время окончания проведения</th>
            <th>Изображение</th>
          </tr>
          </thead>
          <tbody>
          {% for event in events %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ event.fio }}</td>
              <td>{{ event.event_name }}</td>
              <td>{{ event.number_of_participants }}</td>
              <td>{{ event.registered_count }}</td>
              <td>{{ event.unregistered_count }}</td>
              <td>{{ event.review_count }}</td>
              <td>{{ event.date_start }}</td>
              <td>{{ event.date_end }}</td>
              <td><img src="{{ event.image.url }}" alt="Изображение мероприятия" style="max-width: 100px;"></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <script>
    document.getElementById('printButton').addEventListener('click', function () {
      const content = document.querySelector('.card-body').innerHTML;
      const printWindow = window.open('', '', 'height=600,width=800');
      printWindow.document.write('<html><head><title>Отчет по мероприятиям</title>');
      printWindow.document.write('<link rel="stylesheet" href="/static/css/style.css">');  // Подключите стили при необходимости
      printWindow.document.write('</head><body >');
      printWindow.document.write(content);
      printWindow.document.write('</body></html>');
      printWindow.document.close();
      printWindow.print();
    });
  </script>
{% endblock %}
