{% extends "base_generic.html" %}

{% block content %}
  <h1>Список типов комнат</h1>
  <a href="{% url 'create_type_room' %}" class="btn btn-primary mb-3">Создать тип комнаты</a>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Наименование типа комнаты</th>
        <th>Действия</th>
      </tr>
    </thead>
    <tbody>
      {% for type_room in type_rooms %}
        <tr>
          <td>{{ type_room.name }}</td>
          <td>
            <a href="{% url 'edit_type_room' type_room.id %}" class="btn btn-sm btn-primary">Изменить</a>
            <form action="{% url 'delete_type_room' type_room.id %}" method="post" style="display: inline;">
              {% csrf_token %}
              <button type="submit" class="btn btn-sm btn-danger">Удалить</button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
