{% extends "base_generic.html" %}
{% block content %}
  <h1>Список заявок</h1>
  <a href="{% url 'create_request' %}" class="btn btn-primary mb-3">Создать заявку</a>
  <form id="filter-form">
    <div class="form-row ">
      <div class="form-group col-md-9 d-flex justify-content-between align-items-center mb-3">
        <label for="start-date" style="margin-right: 10px">Начальная дата:</label>
        <input type="date" id="start-date" name="start_date" class="form-control" style="margin-right: 10px">
        <label for="end-date" style="margin-right: 10px"> Конечная дата:</label>
        <input type="date" id="end-date" name="end_date" class="form-control" style="margin-right: 10px">
        <label for="start-date" style="margin-right: 10px">Выберите статус:</label>
        <select name="status" class="form-control" style="margin-right: 10px;">
          <option value="">Все статусы</option>
          <option value="п">Принята</option>
          <option value="з">Закрыта</option>
          <option value="в">В обработке</option>
          <option value="о">Отклонена</option>
        </select>
        <button type="submit" class="btn btn-primary">Применить</button>
      </div>
    </div>
  </form>
  <button id="export-xml-btn" class="btn btn-primary mb-3">Скачать в XML</button>
  <div class="card">
    <div class="card-body">
      <div class="table-responsive">
        <table id="request-table" class="table table-bordered">
          <thead>
          <tr>
            <th>Название</th>
            <th>Автор</th>
            <th>Описание</th>
            <th>Дата изменения</th>
            <th>Абонент</th>
            <th>Сотрудник</th>
            <th>Статус заявки</th>
            <th>Действия</th>
          </tr>
          </thead>
          <tbody>
          {% for request in requests %}
            <tr>
              <td>{{ request.title }}</td>
              <td>{{ request.author }}</td>
              <td>{{ request.description|slice:":30" }}</td>
              <td>{{ request.date_creation }}</td>
              <td>{{ request.borrower }}</td>
              <td>{{ request.worker }}</td>
              <td>
                {% if request.status_record == 'п' %}
                  Принята
                {% elif request.status_record == 'з' %}
                  Закрыта
                {% elif request.status_record == 'в' %}
                  В обработке
                {% elif request.status_record == 'о' %}
                  Отклонена
                {% endif %}
              </td>
              <td>
                {% if request.status_record == 'в' %}
                  <form action="{% url 'accept_request' request_id=request.id %}" method="post"
                        style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success" onclick="return confirm('Вы уверены?')">Принять
                    </button>
                  </form>
                  <a href="{% url 'reject_request' request_id=request.id %}" class="btn btn-danger">Отклонить</a>
                {% else %}
                  <span>Действия невозможны</span>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function () {
      $('#filter-form').submit(function (event) {
        event.preventDefault();
        var formData = $(this).serialize();
        $.ajax({
          type: 'GET',
          url: '{% url "filtered_requests" %}',
          data: formData,
          success: function (response) {
            $('#request-table tbody').html(response.rows_html);  // Заменяем только строки таблицы
          },
          error: function (xhr, status, error) {
            console.error(error);
          }
        });
      });

      $('#export-xml-btn').click(function () {
        var formData = $('#filter-form').serialize();
        window.location.href = '{% url "export_requests_xml" %}?' + formData;
      });
    });
  </script>
{% endblock %}
