{% extends "base_generic.html" %}

{% block content %}
  <h1>Провести учёт</h1>

  <form method="post" action="">
    {% csrf_token %}

    <div class="form-group d-flex align-items-center">
      <label for="{{ accounting_form.worker.id_for_label }}" class="mr-2">Сотрудник:</label>
      <p class="form-control-static mb-0">{{ request.user.username }}</p>
    </div>

    <div class="form-group">
      {{ accounting_form.date_of_creation.label_tag }}
      <input type="{{ accounting_form.date_of_creation.field.widget.input_type }}"
             name="{{ accounting_form.date_of_creation.name }}"
             value="{% now 'Y-m-d' %}"
             class="form-control"
             readonly
             style="max-width: 200px;">
    </div>

    <table class="table">
      <thead>
      <tr>
        <th>Книга</th>
        <th>Штамп</th>
        <th>Позиция акта</th>
      </tr>
      </thead>
      <tbody>
      {{ book_copy_formset.management_form }}
      {% for form in book_copy_formset %}
        <tr>
          <td>{{ form.book }}</td>
          <td>{{ form.imprint }}</td>
          <td>{{ form.positionAcceptAct }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <button type="submit">Провести учёт</button>
  </form>
{% endblock %}
