{% extends "base_generic.html" %}

{% block content %}
  <div class="container">
    <h1>Список пользователей</h1>
    <form method="get">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Введите фамилию пользователя" name="search" value="{{ search_query }}">
        <button class="btn btn-outline-secondary" type="submit">Искать</button>
      </div>
    </form>
    <a href="{% url 'create_user' %}" class="btn btn-primary">Добавить пользователя</a>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Имя пользователя</th>
        <th>Дата регистрации</th>
        <th>Фамилия</th>
        <th>Имя</th>
        <th>Отчество</th>
        <th>Почта</th>
        <th>Действие</th>
      </tr>
      </thead>
      <tbody>
      {% for user in users %}
        <tr>
          <td>{{ user.username }}</td>
          <td>{{ user.date_joined }}</td>
          <td>{{ user.last_name }}</td>
          <td>{{ user.first_name }}</td>
          <td>{{ user.middle_name }}</td>
          <td>{{ user.email }}</td>
          <td>
            <a href="{% url 'user_loans' user.id %}">Показать аренды</a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
