{% extends "base_generic.html" %}

{% block content %}
  <div class="container">
    <h1>Список актов о списании</h1>
    <a href="{% url 'create_debiting_act' %}" class="btn btn-primary">Создать акт о списании</a>

    {% if debiting_acts %}
      <div class="card">
      <div class="card-body">
      <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>№</th>
          <th>Дата</th>
          <th>Сотрудник</th>
          <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        {% for debiting_act in debiting_acts %}
          <tr>
            <td>{{ debiting_act.number }}</td>
            <td>{{ debiting_act.current_date }}</td>
            <td>{{ debiting_act.worker }}</td>
            <td>
              <a href="{% url 'edit_debiting_act' pk=debiting_act.pk %}" class="btn btn-warning">Изменить</a>
              <a href="{% url 'print_accept_act' pk=debiting_act.pk %}" class="btn btn-secondary">Печать акта</a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>Нет доступных актов списания.</p>
    {% endif %}
    </div>
    </div>
    </div>
  </div>
{% endblock %}
