{% extends "base_generic.html" %}

{% block content %}
  <div class="container">
    {% load static %}
    <main class="container">
      <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary"
           style="background: url('{% static 'images/123.jpg' %}'); background-size: 100%">
        <div class="col-lg-8 px-0 for-text" style="">
          <div style="padding: 10px">
            <h1 class="display-4 fst-italic"><strong>Библиотека: Книгосфера</strong></h1>
            <p class="lead my-3"><strong>Добро пожаловать на наш сайт, сейчас вы находитесь на главной странице</strong>
            </p>
          </div>
        </div>
      </div>
      <div class="row g-5">
        <div class="col-md-8">
          <h2 class="pb-4 mb-4 fst-italic border-bottom"><a href="{% url 'news_list' %}" class="nav-link"
                                                            aria-current="page">Новости</a></h2>
          <article class="blog-post">
            {% for news in latest_news %}
              <div class="row">
                <div class="col-md-4">
                  <a href="{% url 'news_detail' news_id=news.id %}">
                    {% if news.title_image %}
                      <img src="{{ news.title_image.url }}" class="img-fluid" alt="Титульное изображение">
                    {% else %}
                      <div class="text-center"
                           style="height: 200px; background-color: #f8f9fa; display: flex; justify-content: center; align-items: center;">
                        <p>Изображения нет</p>
                      </div>
                    {% endif %}
                  </a>
                </div>
                <div class="col-md-8">
                  <h2>{{ news.title }}</h2>
                  <p>{{ news.description|truncatewords_html:30 }}</p>
                  <p class="blog-post-meta">{{ news.date_creation|date:"d F Y года" }},
                    автор: {{ news.worker.last_name }} {{ news.worker.first_name|slice:":1" }}.{{ news.worker.middle_name|slice:":1" }}.</p>
                </div>
              </div>
              <hr>
            {% endfor %}
          </article>
          <aricle class="blog-post">
            <h3>Новые пополнения в фонде библиотеке</h3>
            <table class="table">
              <thead>
              <tr>
                <th>Название</th>
                <th>Автор</th>
                <th>Жанр</th>
              </tr>
              </thead>
              <tbody>
              {% for book_copy in latest_book_copies %}
                <tr>
                  <td><a href="{% url 'book-detail' pk=book_copy.book.pk %}">{{ book_copy.book.title }}</a></td>
                  <td><a href="{% url 'author-detail' pk=book_copy.book.author.pk %}">{{ book_copy.book.author }}</a>
                  </td>
                  <td>
                    {% for genre in book_copy.book.genre.all %}
                      {{ genre.name }}{% if not forloop.last %},{% endif %}
                    {% endfor %}
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </aricle>
        </div>
        <div class="col-md-4">
          <div class="position-sticky" style="top: 2rem;">
            <div class="p-4 mb-3 bg-body-tertiary rounded">
              <h4 class="fst-italic">О нас</h4>
              <p class="mb-0">Библиотека, основана в 1801 году, с широким ассортиментом книг, периодических изданий и
                электронных ресурсов. Мы предлагаем услуги по выдаче книг, а также доступ к коллекции редких
                и антикварных изданий. Наша миссия - обеспечение равного доступа к знаниям и информации для всех
                граждан.</p>
            </div>
            <div>
              <h4 class="fst-italic"><a href="{% url 'event_list_borrower' %}" class="nav-link" aria-current="page">Проводимые
                мероприятия</a></h4>
              <ul class="list-unstyled">
                {% for event in latest_events %}
                  <li>
                    <a
                      class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                      href="{% url 'detail_event' event_id=event.id %}">
                      {% if event.image %}
                        <img src="{{ event.image.url }}" width="115" height="96" alt="{{ event.event_name }}">
                      {% else %}
                        <svg class="bd-placeholder-img" width="115" height="96" xmlns="http://www.w3.org/2000/svg"
                             aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                          <rect width="100%" height="100%" fill="#777"></rect>
                        </svg>
                      {% endif %}
                      <div class="col-lg-8">
                        <h6 class="mb-0">{{ event.event_name }}</h6>
                        <small class="text-body-secondary">Время начала
                          проведения: {{ event.date_start|date:"d.m.Y H:i" }}</small>
                      </div>
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </div>
            <div class="p-4">
              <h4 class="fst-italic">Архив новостей</h4>
              <ol class="list-unstyled mb-0">
                <li><a href="#">Октябрь 2023</a></li>
                <li><a href="#">Сентябрь 2023</a></li>
                <li><a href="#">Августь 2023</a></li>
                <li><a href="#">Июль 2023</a></li>
                <li><a href="#">Июнь 2023</a></li>
                <li><a href="#">Май 2023</a></li>
                <li><a href="#">Апрель 2023</a></li>
                <li><a href="#">Март 2023</a></li>
                <li><a href="#">Февраль 2023</a></li>
                <li><a href="#">Январь 2023</a></li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
