.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.alert-danger {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

body{
  background: #A9D9D0;
}
.base-container{
  background: #D3D9BF;
  padding: 8px 20px 20px;
  min-height: 100vh;
}
.link-color{
  color: #027373;
}
.button-color{
  background: #027373;
}

