.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

.alert-danger {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

body {
  background: #89ABD9;
}

.base-container {
  background: #F2F2F2;
  min-height: 100vh;
  box-shadow: 2px 0px 25px black;
  padding: 0 0 16px;
}

.link-color {
  color: #0460D9;
}

.link-color:hover {
  color: #327AD9;
}

.nav-link.button-color {
  color: #F2F2F2;
  background: #0460D9;
}

* {
  color: #0D0D0D;
}

.for-text {
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  padding: 20px;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.nav-bar {
  width: 100%;
  box-shadow: 0px 5px 50px 0px rgba(0, 0, 0, 0.3);
  background: #F2F2F2;
  z-index: 1000;
}

.avatar-img {
  width: 150px; /* Ширина изображения */
  height: 150px; /* Высота изображения */
  object-fit: contain; /* Заполнение контейнера */
  border-radius: 50%; /* Закругление углов для круглой формы */
}

.table-card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
