{% extends "base_generic.html" %}

{% block content %}
    <div class="container">
        <h1>Все абонемирования библиотеки</h1>
        <a class="btn btn-primary" href="{% url 'add-bookinstance' %}">Добавить аренду</a>
        {% if bookinstance_list %}
        <table class="table">
            <thead>
                <tr>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Логин</th>
                    <th>Название книги</th>
                    <th>Дата начала</th>

                </tr>
            </thead>
            <tbody>
                {% for bookinst in bookinstance_list %}
                <tr class="{% if bookinst.is_overdue %}text-danger{% endif %}">

                    <td>{{ user.last_name }}</td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ bookinst.borrower.username }}</td>
                    <td>
                        <a href="{% url 'book-detail' bookinst.book.pk %}">{{ bookinst.book.title }}</a>
                    </td>
                    <td>{{ bookinst.due_back }}</td>
                    {% if user.is_staff %}
                        <td>
                            <a href="{% url 'renew-book-librarian' bookinst.id %}">Продлить</a>
                        </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p>There are no books borrowed.</p>
        {% endif %}
    </div>
{% endblock %}
