{% extends "base_generic.html" %}

{% block content %}
  <div class="container">
    <h1>Все книги</h1>
    {% if user.is_staff %}
      <a href="{% url 'add-book' %}" class="btn btn-primary">Добавить книгу</a>
      {% endif %}
    {% if book_list %}
      <div class="row">
        {% for book in book_list %}
          {% if not book.is_deleted %}
            <div class="col-sm-6 col-md-4 col-lg-3">
              <div class="card shadow-sm">
                {% if book.image %}
                  <img src="{{ book.image.url }}" class="bd-placeholder-img card-img-top" width="100%" height="225" alt="Book Image">
                {% else %}
                             <div class="placeholder-image"></div>
                {% endif %}
                <div class="card-body">
                  <h5 class="card-title"><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></h5>
                  <p class="card-text"><strong>Автор: </strong><a href="{{ book.author.get_absolute_url }}">{{ book.author }}</a></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
{#                      <button type="button" class="btn btn-sm btn-outline-secondary">Кнопка1</button>#}
{#                      <button type="button" class="btn btn-sm btn-outline-secondary">Кнопка2</button>#}
                    </div>
{#                    <small class="text-body-secondary">Текст</small>#}
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    {% else %}
      <p>Книг нет.</p>
    {% endif %}
  </div>
{% endblock %}
