<!-- create_accounting.html -->
{% extends "base_generic.html" %}

{% block content %}
  <h1>Провести учёт</h1>
  
  <form method="post" action="">
    {% csrf_token %}
    {{ accounting_form.as_p }}
    
    {{ book_copy_form.as_p }}
    
    <button type="submit">Провести учёт</button>
  </form>

  <h2>Данные по учёту копии книги</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Сотрудник</th>
        <th>Дата создания</th>
        <th>Книга</th>
        <th>Штамп</th>
        <th>Позиция акта</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ accounting_form.worker }}</td>
        <td>{{ accounting_form.date_of_creation }}</td>
        <td>{{ book_copy_form.book }}</td>
        <td>{{ book_copy_form.imprint }}</td>
        <td>{{ book_copy_form.positionAcceptAct }}</td>
      </tr>
    </tbody>
  </table>
{% endblock %}
