<!-- create_accounting.html -->
{% extends "base_generic.html" %}

{% block content %}
  <h1>Провести учёт</h1>

  <form method="post" action="">
    {% csrf_token %}
    {{ accounting_form.as_p }}
    <table class="table">
      <thead>
        <tr>
          <th>Книга</th>
          <th>Штамп</th>
          <th>Позиция акта</th>
        </tr>
      </thead>
      <tbody>
        {% for form in extra_forms %}
          {{ form.management_form }} {# Добавляем управляющую форму для правильной обработки форм в представлении #}
          <tr>
            <td>{{ form.book }}</td>
            <td>{{ form.imprint }}</td>
            <td>{{ form.positionAcceptAct }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <button type="submit">Провести учёт</button>
  </form>
{% endblock %}
