{% extends "base_generic.html" %}

{% block content %}
<div class="container">
    <h1>Редактировать аренду книги</h1>
    <form method="post" class="mt-4">
        {% csrf_token %}
<div class="mb-3">
    <label for="{{ form.book.id_for_label }}" class="form-label">Книга</label>
    <select class="form-select" id="{{ form.book.id_for_label }}" name="{{ form.book.name }}"style="max-width: 200px;">
        {% for book in form.book.field.queryset %}
            <option value="{{ book.id }}" {% if book.id == form.book.value %}selected{% endif %}>{{ book }}</option>
        {% endfor %}
    </select>
</div>

<div class="mb-3">
    <label for="{{ form.due_back.id_for_label }}" class="form-label">Дата возврата</label>
    <div class="input-group date">
        <input type="date" class="form-control form-control-sm" id="{{ form.due_back.id_for_label }}" name="{{ form.due_back.name }}" value="{{ form.due_back.value }}" style="max-width: 200px;">
        <span class="input-group-addon">
            <i class="glyphicon glyphicon-calendar"></i>
        </span>
    </div>
</div>
<div class="mb-3">
    <label for="{{ form.borrower.id_for_label }}" class="form-label">Заёмщик</label>
    <select class="form-select" id="{{ form.borrower.id_for_label }}" name="{{ form.borrower.name }}" style="max-width: 200px;">
        {% for user in form.borrower.field.queryset %}
            <option value="{{ user.id }}" {% if user.id == form.borrower.value %}selected{% endif %}>{{ user }}</option>
        {% endfor %}
    </select>
</div>
<div class="mb-3">
    <label for="{{ form.status.id_for_label }}" class="form-label">Статус</label>
    <select class="form-select" id="{{ form.status.id_for_label }}" name="{{ form.status.name }}" style="max-width: 200px;">
        {% for choice in form.status.field.choices %}
            <option value="{{ choice.0 }}" {% if choice.0 == form.status.value %}selected{% endif %}>{{ choice.1 }}</option>
        {% endfor %}
    </select>
</div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
        {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {{ form.non_field_errors }}
            </div>
        {% endif %}
    </form>
</div>
{% endblock %}

<script>
    $(document).ready(function() {
        // Инициализация datepicker на поле с id "id_due_back" (замените на актуальный ID)
        $('#id_due_back').datepicker({
            format: 'yyyy-mm-dd',  // Формат даты (ваш формат)
            todayBtn: "linked",
            clearBtn: true,
            autoclose: true
        });
    });
</script>
