{% extends "base_generic.html" %}

{% block content %}
  <h1>Список экземпляров книг</h1>
  <a href="{% url 'create_book_exemplar' %}">Создать экземпляр</a>

  {% if book_exemplars %}
    <table class="table">
      <thead>
      <tr>
        <th>Книга</th>
        <th>Издательство</th>
        <th>Дата изготовления</th>
        <th>Город издания</th>
      </tr>
      </thead>
      <tbody>
      {% for book_exemplar in book_exemplars %}
        <tr>
          <td>{{ book_exemplar.book.title }}</td>
          <td>{{ book_exemplar.publisher.name }}</td>
          <td>{{ book_exemplar.date_of_manufacture }}</td>
          <td>{{ book_exemplar.city_of_publication }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>Нет данных об экземплярах книг</p>
  {% endif %}
{% endblock %}
